<?xml version="1.0" encoding="UTF-8"?>
<config>
	<input type="bin"/>
	<route name="local:///systems/DEPLOY.MQ.MPG/DEPLOY.MQ.MPG.RESPONSE.ALL/MQSC/MQSCRQ/route.xsl" type="xsl"/>
	<transform name="local:///systems/DEPLOY.MQ.MPG/DEPLOY.MQ.MPG.RESPONSE.ALL/MQSC/MQSCRQ/transform.xsl" type="xsl"/>
	<variables name="local:///systems/DEPLOY.MQ.MPG/DEPLOY.MQ.MPG.RESPONSE.ALL/MQSC/MQSCRQ/variables.xsl" type="xsl"/>
	<output type="bin"/>
</config>
